.padre {
    height: 70vh;
}

.titulo h1{
    font-weight: bold;
    font-size:60px;
}

.titulo span {
    color: #21413a;
}

.titulointro {
    margin-top: 40px ;
}

.titulo1 h1{
    font-weight: bold;
    font-size:40px;
}