.btncustom {
    color: #fff;
    background-color: #61735A; /* Cambia el valor al color deseado */
    border-color: #61735A; /* Cambia el valor al color deseado */
    
  }
.btncustom:hover {
    background-color: #f5fbfb;
    color: #21413a;
    border-color: #61735A; 
    /* Otros estilos */
  }

.publicacion {
    background-color: #21413a;
  }

  .publicacion h3 {
    color: #ffffff; 
    padding: 10px;
  }
  
  .publicacion p {
    color: #ffffff;
    padding: 0px 10px 10px 10px;
  }
  

